<div class="container m-5 modal-container">
  <div class="row">
    <div class="col">
      
      <div class="text-center">
        <h1 class="d-inline">
          Exercise Record
          <mat-icon>flag</mat-icon>
        </h1>
      </div>
      <!-- <span>{{ exerciseRecord.passenger.firstName }}</span> -->

      <div class="list-group mt-4">
        <div class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">
              {{ exerciseRecord.passenger.firstName }} {{ exerciseRecord.passenger.lastName }}
              <span class="badge rounded-pill text-bg-success">
                {{ exerciseRecord.passenger.passengerType }}
              </span>
            </h5>

            <small class="text-body-secondary d-flex align-items-center">
              <mat-icon class="me-1">schedule</mat-icon>
              {{ exerciseRecord.duration }} Duration
            </small>
          </div>

          <hr>

          <div class="my-2">
            Some placeholder content in a paragraph.

            <h3 class="fw-medium mb-0 mt-2">exercise</h3>
            <p>{{ exerciseRecord.exercise.exerciseType }}</p>
      
            <h3 class="fw-medium mb-0 mt-2">station</h3>
            <p>{{ exerciseRecord.station }}</p>

            <h3 class="fw-medium mb-0 mt-2">challengeCompleted</h3>
            <h4>
              <span class="badge rounded-pill text-bg-secondary">
                {{ exerciseRecord.challengeCompleted }}
              </span>
            </h4>
            
            <h3 class="fw-medium mb-0 mt-2">createdAt</h3>
            <p>{{ exerciseRecord.createdAt }}</p>
            

          </div>

          <hr>
          <small class="text-body-secondary">
            {{ exerciseRecord.passenger.email }}
          </small>
        </div>
      </div>

    </div>
  </div>
</div>