.btn-success {
  background-color: #D1E7DD;
  color: #198754;
  outline: none;
  border-color: transparent;
}

.btn-success:hover {
  background-color: #bee2d2;
}

.btn-danger {
  background-color: #F8D7DA;
  color: #DC3545;
  outline: none;
  border-color: transparent;
}

.btn-danger:hover {
  background-color: #f8c8cc;
}

